
@import '~antd/dist/antd.css';



/* .ant-drawer-body {
  padding: 0px;
} */

.ant-menu-inline {
  height: -webkit-fill-available;
}
/* 
.ant-drawer-content-wrapper {
  width: 250px !important;
} */

.ant-layout-header {
  padding: 3px !important;
  background-color: #001529 !important;
}

.ant-table{
  height: 38rem;
  overflow: scroll;
}
/* .ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
  background-color: #001529;
} */

